<div>
  Today's weather in <%= weather_presenter.location %> is:
  <%= weather_presenter.temperature %> °C,
  <%= weather_presenter.description %>
  <img src=<%= weather_presenter.icon %>>
  <em><%= weather_presenter.encourage_text %></em>
</div>